@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


.logo , a , h2 , h3{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

*{ font-family:"Lexend",sans-serif;
   font-optical-sizing: auto;
   font-weight:bold;
   font-style: normal; }

html {
  scroll-behavior: smooth;
}

body{
  background-color: #F8F9FA;
  height:100vh;
}

header{
  margin:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background: #123;
  border:3px solid darkorange;


}
.logo{
  color: orangered;
  padding:10px;
} 
nav{
  width:60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:white;
  transition: 0.5s;
} 


nav ul{
  width:60%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  list-style: none;
}
nav ul li a{
  padding: 10px;
  text-decoration: none;
  color:white;
  transition: 0.5s;
}nav ul li a:hover{background: gold; border-radius: 5px; border:5px solid orangered; color:black}

.content{
  margin:10px;
  width:100%;
  height:600px;
  display:flex;
  justify-content: space-between;
  alalign-items: center;
}
 .content h2{
   padding:20px;
  margin:10px 0;
   font-size:70px;
   width:500px;
   background: gold;
   border:3px solid black;
   margin-top:30px;
   margin-bottom: 0;

 }
 
 .content p{
   padding:10px;
   font-size: 20px;
   width:500px;
   color: darkslategray;
   margin-top:10px;
 }
 
 
 
 .content button{
   padding:20px;
   font-size:20px ;
 }
 
 .content .image-box{
   margin-top:40px;
   width:760px;
   height:510px;
 }
 
 .image-box img{
   width: 100%;
   height:100%;
 }
 
 .navbar {
  background-color: #2C3E50;
}

body {
  background-color: #F8F9FA;
}

h2 {
  color: #2C3E50; /* أو #E74C3C */
}

p {
  color: #333333;
}

.button {
  background-color: #3498DB;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
}


.orange{ color: orangered}
.lemon{ color: #CCFF00}
.watermelon{ color: #FC6C85}
.cola{ color: #3B2F2F}


#flavors{
  width:100%;
  height:700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#flavors div{
  padding: 10px;
  margin: 10px 0;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flavors div img{

  border:5px solid #123;
  width:300px;
  height:300px;
  border-radius: 20px;
  transition: 0.5s;
} #flavors div img:hover{
  border:5px solid gold;
  width:320px;
 height:320px;

}

#flavors div h3{
  font-size:30px;
}

#flavors div p{
  font-size: 20px;
text-align: center;
}

#Testimonials{
  width: 95%;
  height:500px;
  text-align: center;
}

#Testimonials h2{
  font-size:50px;
padding: 10px;
margin:10px 0;
}

#Testimonials .comments-box{
   display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top:30px;
  margin-left:20px;
}

#Testimonials .comments-box .comments{
  background: antiquewhite;
  opacity: 0.7;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin:30px;
  border:4px solid black;
  border-radius: 20px;
  width:70%;

}


#Testimonials .comments h3{
  text-align: center;
  font-size: 30px;
}

#Testimonials .comments q {
  text-align: center;
  font-size: 20px;
  font-weight:bold;
}

  .contact-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.address, .contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.copy {
  width:100%;
  padding:0;
  text-align: center;
}

.copy p{
  color:#123;
  padding: 5px;
}
